<article class="contact" data-page="contact">

  <header>
    <h2 class="h2 article-title">Contact</h2>
  </header>

  <section class="mapbox" data-mapbox>
    <figure>
      <iframe
        src="https://www.google.com/maps/embed/v1/place?q=accra&key=AIzaSyBFw0Qbyq9zTFTd-tUY6dZWTgaQzuU17R8"
        width="400" height="300" loading="lazy"></iframe>
    </figure>
  </section>

  <section class="contact-form">

    <h3 class="h3 form-title">Contact Form</h3>

    <form action="#" class="form" #form="ngForm" (ngSubmit)="sendEmail($event)" >

      <div class="input-wrapper">
        <input type="text" name="user_name" [(ngModel)]="fullname" class="form-input" placeholder="Full name" required>

        <input type="email" name="user_email" [(ngModel)]="email"  email="true" class="form-input" placeholder="Email address" required>
      </div>

      <textarea name="message" [(ngModel)]="message" class="form-input" placeholder="Your Message" required></textarea>

      <button class="form-btn" type="submit" [disabled]="form.invalid">
        <ion-icon name="paper-plane"></ion-icon>
        <span>Send Message</span>
      </button>

    </form>

  </section>

</article>
