<aside class="sidebar" [class.active]="isActive">

  <div class="sidebar-info">

    <figure class="avatar-box">
      <img src="../assets/images/myself.png" alt="Nathaniel Nyakotey" width="80">
    </figure>

    <div class="info-content">
      <h1 class="name" title="Nathaniel Nyakotey">Nathaniel Nyakotey</h1>

      <p class="title">ECE Engineer</p>
    </div>

    <button class="info_more-btn" (click)="toggleSidebar()">
      <span>Show Contacts</span>

      <ion-icon name="chevron-down"></ion-icon>
    </button>

  </div>

  <div class="sidebar-info_more">

    <div class="separator"></div>

    <ul class="contacts-list">

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="mail-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Email</p>

          <a href="mailto:nnyakotey@gmail.com" class="contact-link">nnyakotey&#64;gmail.com</a>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="phone-portrait-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Phone</p>

          <a href="tel:+12133522795" class="contact-link">+233543501688</a>
        </div>

      </li>

      <li class="contact-item">

        <div class="icon-box">
          <ion-icon name="location-outline"></ion-icon>
        </div>

        <div class="contact-info">
          <p class="contact-title">Location</p>

          <address>Ghana</address>
        </div>

      </li>

    </ul>

    <div class="separator"></div>

    <ul class="social-list">

      <li class="social-item">
        <a href="https://github.com/nyakotey" class="social-link">
          <ion-icon name="logo-github"></ion-icon>
        </a>
      </li>

      <li class="social-item">
        <a href="https://linkedin.com/in/nathaniel-nyakotey" class="social-link">
          <ion-icon name="logo-linkedin"></ion-icon>
        </a>
      </li>


    </ul>

  </div>

</aside>
