<article class="resume" data-page="resume">

  <header>
    <h2 class="h2 article-title">Resume</h2>
  </header>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Education</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Kwame Nkrumah University of Science and Technology</h4>

        <span>2024 — Present</span>

        <p class="timeline-text">
         MPhil Computer Engineering
        </p>

      </li>

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Kwame Nkrumah University of Science and Technology</h4>

        <span>2017 — 2021</span>

        <p class="timeline-text">
          BSc Electrical Engineering
        </p>

      </li>

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Achimota College</h4>

        <span>2014 — 2017</span>

        <p class="timeline-text">
          General Science
        </p>

      </li>

    </ol>

  </section>

  <section class="timeline">

    <div class="title-wrapper">
      <div class="icon-box">
        <ion-icon name="book-outline"></ion-icon>
      </div>

      <h3 class="h3">Experience</h3>
    </div>

    <ol class="timeline-list">

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Research Engineer</h4>

        <span>2021 — 2024</span>

        <p class="timeline-text">
          Worked at Solartaxi, the pioneer eco-mobility company in Ghana.
          Served as a Graduate trainee (National Service Personnel) in my first year, working on a variety of Electric motorcycle and electric car components.
          I was retained as a permanent staff after my first year, a testament to my work ethic, and into the role of Research Engineer
        </p>

      </li>

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Embedded Systems Engineer</h4>

        <span>2023</span>

        <p class="timeline-text">
          Worked remotely as an Embedded Systems Engineer at the startup Simpeller, based in Germany.
        </p>

      </li>

      <li class="timeline-item">

        <h4 class="h4 timeline-item-title">Engineering Intern</h4>

        <span>2020</span>

        <p class="timeline-text">
          Interned at the Council for Scientific and Industrial Research (CSIR-IIR), worked on several innovative projects including an automated COVID disinfection chamber, and a Solar-powered Cyber Mobile Irrigation Unit
        </p>

      </li>

    </ol>

  </section>

  <section class="skill">

    <h3 class="h3 skills-title">My skills</h3>

    <ul class="skills-list content-card">

      <li class="skills-item">

        <div class="title-wrapper">
          <h5 class="h5">Software Engineering</h5>
          <data value="85">85%</data>
        </div>

        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 85%;"></div>
        </div>

      </li>

      <li class="skills-item">

        <div class="title-wrapper">
          <h5 class="h5">Graphic design</h5>
          <data value="50">50%</data>
        </div>

        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 50%;"></div>
        </div>

      </li>

      <li class="skills-item">

        <div class="title-wrapper">
          <h5 class="h5">Computer Engineering</h5>
          <data value="90">90%</data>
        </div>

        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 90%;"></div>
        </div>

      </li>

      <li class="skills-item">

        <div class="title-wrapper">
          <h5 class="h5">Electrical Engineering</h5>
          <data value="95">95%</data>
        </div>

        <div class="skill-progress-bg">
          <div class="skill-progress-fill" style="width: 95%;"></div>
        </div>

      </li>

    </ul>

  </section>

  <section class="download">
    <h3 class="h3"> Download CV </h3>
    <button type="button" class="form-btn" id="download-btn" (click)="downloadCV()">
      <ion-icon name="cloud-download"></ion-icon>
      Download PDF
    </button>
  </section>
</article>
